* {
    font-family: 'Oswald', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    height: 100vh;
}

body {
    flex: 1;
}

header {
    padding: 32px;
}

.header-shadow {
    background-color:  #7C2529;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}


#search-button {
    background-color:  #7C2529;
}

#last-searches li:hover {
    cursor: pointer;
}

.footer {
    margin-top: auto;
}

.footer-shadow {
    background-color:  #7C2529;
    box-shadow: 0px -10px 10px -10px rgba(0, 0, 0, 0.75);
}